/*메인페이지*/

/*#container*/
.m-visual-wrap {position:relative; z-index:-1;}
.m-visual-wrap .slogan img {position: absolute; left: 50%; top:50%; margin-left:-205px; margin-top:-35px;}

.m-about {overflow: hidden;}
.m-about li {width:33.3333%; float:left; overflow:hidden; transition:1s; position: relative;}
.m-about li img{ width:100%; vertical-align:top; transition:1s ease-out;}
.m-about li:hover img{transform:scale(1.5,1.5) rotate(15deg);}
.m-about li:after {content:"";position:absolute; left:0; top:0;right:0; bottom:0; background-color:rgba(0,131,132,0.5); opacity:0; transition:0.4s ease-out;}
.m-about li:hover:after {opacity:1;}
.m-about li div {margin:5px;}
.m-about li .txt {position:absolute; left:0; top:0; z-index: 10; color:#FFF; font-size:20px; top:50%; line-height:20px; margin-top:-10px; width:100%; text-align:center;}
.m-about li .txt .box {display:inline-block; padding:10px 20px; position:relative; line-height: 22px;
letter-spacing: 0.03em; text-transform: uppercase; font-weight: 600;color: #fff; font-size: 25px;}
.m-about li .txt .box::after {content: ""; width: 20px; height: 3px; background-color: #FFF; position: absolute; top: -22px; margin-left: -10px;}
.m-about li .txt .box:hover::after {width: 0; opacity:0; transition:0.4s ease-out;}
.m-about li .txt .box .line1 {position:absolute; height:4px; background-color:#FFF; width:0; top:0; left:0; transition:0.3s ease-out; transition-delay:0;}
.m-about li .txt .box .line2 {position:absolute; height:0; background-color:#FFF; width:4px; top:0; right:0; transition:0.3s ease-out; transition-delay:0.3s;}
.m-about li .txt .box .line3 {position:absolute; height:4px; background-color:#FFF; width:0; bottom:0; right:0; transition:0.3s ease-out; transition-delay:0.9s;}
.m-about li .txt .box .line4 {position:absolute; height:0; background-color:#FFF; width:4px; bottom:0; left:0; transition:0.3s ease-out; transition-delay:1.2s;}

.m-about li:hover .box .line1 {width:100%;}
.m-about li:hover .box .line2 {height:100%;}
.m-about li:hover .box .line3 {width:100%;}
.m-about li:hover .box .line4 {height:100%;}

@media screen and (max-width:480px) {
     .m-about li{
         float:none;
         width:auto;
     }
}

.m-global {height: 900px; background: #1d2227; background-image: url(img/global-bg.jpg); background-repeat: repeat-x; position: relative;}
.m-global h3 {text-transform: uppercase; text-align: center; letter-spacing: 0.05em;
font-size: 42px; font-weight: 600; color: #fff; line-height: 1; padding-top: 100px;}
.m-global .global-01, .global-02, .global-03, .global-04, .global-05, .global-06 {width: 1332px; height: 574px; top: 236px; left: 50%; margin-left: -666px; position: absolute;}
.global-02 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 676px; top: 196px; line-height: 140%;}
.global-02 p.txt strong {font-weight: 300; font-size: 17px; display: block;}
.global-02 .line1 {width: 1px; height: 27px;left: 613px; top: 190px; position:absolute; background: rgba(255,255,255,0.4);}
.global-02 .line2 {width: 50px; height: 1px; left: 614px; top: 216px; position: absolute; background: rgba(255,255,255,0.4);}
.global-03 p.txt {font-family: 'Calibri'; font-size: 15px; color: #ec7a00; text-transform: uppercase; text-align: left; position: absolute; left: 1050px; top: 235px; line-height: 140%;}
.global-03 p.txt strong {font-weight: 300; font-size: 17px; display: block;}
.global-03 .line1 {width: 1px; height: 97px; left: 871px; top: 160px; position: absolute; background-color: rgba(236, 122, 0, 0.4);}
.global-03 .line2 {width: 166px; height: 1px; left: 872px; top: 256px; position: absolute; background: rgba(236, 122, 0, 0.4);}
.global-04 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 408px; top: 116px; line-height: 140%;}
.global-04 .line1 {width: 1px; height: 36px; left: 518px; top: 138px; position:absolute; background: rgba(255,255,255,0.4);}
.global-04 .line2 {width: 60px; height: 1px; left: 519px; top: 173px;  position: absolute; background: rgba(255,255,255,0.4);}
.global-05 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 676px; top: 270px; line-height: 140%;}
.global-05 .line1 {width: 98px; height: 1px; left: 567px; top: 283px; position:absolute; background: rgba(255,255,255,0.4);}
.global-05 .line2 {width: 1px; height: 22px; left: 647px; top: 284px;  position: absolute; background: rgba(255,255,255,0.4);}
.global-05 .line3 {wwidth: 17px; height: 1px; left: 648px; top: 305px;  position: absolute; background: rgba(255,255,255,0.4);}
.global-06 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 372px; top: 389px; line-height: 140%;}
.global-06 .line1 {width: 47px; height: 1px; left: 516px; top: 400px; position:absolute; background: rgba(255,255,255,0.4);}
.global-06 .line2 {width: 1px; height: 37px; left: 563px; top: 364px;  position: absolute; background: rgba(255,255,255,0.4);}


.m-social ul li {float:left; width: 50%;}
.m-social ul li img{width:100%; vertical-align:top; transition:1s ease-out;}
.m-social ul li:hover img {transform:scale(1.1,1.1)}
.m-social ul li a {position: relative; display: block; overflow: hidden;}
.m-social .btxt {position: absolute; z-index: 7; line-height: 22px; letter-spacing: 0.03em; text-transform: uppercase; height: 22px; top: 50%; margin-top: -11px; left: 50%;
width: 440px; margin-left: -220px; font-weight: 600; color: #fff; font-size: 25px; text-align:center;}
.m-social .btxt::after {content: ""; width: 20px; height: 3px; background: #fff; top: -22px; margin-left: -10px; left: 50%; position: absolute; display: block; }
.m-social .btxt:hover::after {width: 0; transition:0.4s ease-out;}
.m-social .stxt {position: absolute; z-index: 7; font-family: "Malgun Gothic"; line-height: 20px; letter-spacing: 0; text-transform: uppercase; height: 20px; top: 60%; margin-top: -11px; left: 50%; width: 440px; margin-left: -220px; font-weight: 300; color: #fff; font-size: 20px; text-align:center;}
.m-social .line2::after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 3; display: block; background: rgba(0,131,132,0.5); opacity:0; transition:0.4s ease-out;}
.m-social .line2:hover::after {opacity:1; transition:0.4s ease-out;}

.m-add img {width: 100%; vertical-align: top;}


/*서브페이지 01*/
.sub1 .sub_navi {position: relative; height: 450px; width: 100%;}
.sub1 .sub_navi .im_tit {height: 450px;}
.sub1 .sub_navi .st_menu {width: 100%; position: absolute; left: 0; bottom: 0; border-top: 1px solid #FFF; font-size: 0;}
.sub1 .sub_navi .st_menu ul{width: 1200px; margin: 0 auto; text-align: center;}
.sub1 .sub_navi .st_menu ul li{line-height: 55px; display: inline-block; text-align: center; font-size: 16px;}
.sub1 .sub_navi .st_menu ul li::after{content:""; display: table; margin: 0 auto;}
.sub_navi .st_menu ul li:hover{background: rgba(5,158,159, 0.7);}
.sub_navi .st_menu ul li a{color: #FFF; padding: 0 45px;}
.sub_navi .st_menu ul li a:hover{font-weight: bold;}
.sub1_conts {width: 1200px}
.sub_conts h2 a {display: block; font-size: 36px; font-weight: 400; font-family: "Malgun Gothic"; text-transform: uppercase; line-height: 1.2em; color: #111; letter-spacing: -0.03em;}

.sub1_conts {padding: 42px 0;}
.sub_conts {min-height: 350px; letter-spacing: -0.02em; word-break: keep-all; word-wrap: break-word;}



/*서브페이지 02*/
.slide {height:100%; border:1px #F00 solid; position:relative; background: url(img/portfolio_bg.png); background-repeat: no-repeat; text-align: center;}
.slide li {display:inline-block;}
.slide li>a {position: relative; top: 600px; z-index: 10; display: block; width: 20px; height: 20px; border: 1px solid #F00;}
.slide li.on>div {display:block;}
.slide li>div {position:absolute; border:1px #F00 solid; left:0; top:0; width:100%; height:100%; text-align:center; display: none;}
.slide li img {position:relative; top:200px; transform-style: preserve-3d;}
.slide li cite {font-size:20px;}
 .slide li cite,.slide li span{display:block; position:relative; top:200px;}
 .btngroup .prev {position: absolute; left: 0;width: 90px; height: 100%; border: 0; background: url(img/portfolio_prev.png); background-repeat: no-repeat; background-position: 40px center; transition: all 0.1s ease-out; text-indent: -9999px;}
.btngroup .prev :hover {background-position: 30px center;}
.btngroup .next {position: absolute; right: 0; width: 90px; height: 100%; border: 0; background: url(img/portfolio_next.png); background-repeat: no-repeat; background-position: 10px center; transition: all 0.1s ease-out; text-indent: -9999px;}
.btngroup .next :hover {background-position: 20px center;}
.btngroup .name {font-family: font-size: 52px; color: #fff; font-weight: bold; text-transform: uppercase; position: absolute;}
