@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);

html,body {width:100%;height:100%;}
body {overflow:auto; font-size:14px; font-family:'Oswald','Calibri','Malgun Gothic', sans-serif;-webkit-text-size-adjust:none}

#wrap {height: 80px; position :relative; z-index:100; }
#header {background-color: #FFF; outline:1px #F00 solid; overflow: hidden;}
.header_wrap {padding: 0 30px; height:80px; background-color: #000;}
.header_wrap .logo h1 {width:62px; height: 44px; margin-top: 18px; float:left;}
.header_wrap .m_menu {width: 1100px; height:80px;  margin:0 auto;}
.header_wrap .m_menu>ul>li {float: left; width: 190px;  padding: 0 15px; text-align: center; }
.header_wrap .m_menu>ul>li>a {white-space: nowrap; text-transform: uppercase; font-weight: bold; letter-spacing: 0.04em; color:#FFF; cursor: pointer; line-height: 80px;}
.header_wrap .m_menu ul>li>a:hover {color:#199394;}
.header_wrap .m_menu ul>li div {padding:30px 0;}
.header_wrap .m_menu ul>li li a {line-height: 35px; white-space: nowrap; letter-spacing: -0.03em; font-weight: 400; color: #555;}
.header_wrap .m_menu ul>li div {display: none;}
.header_wrap .m_menu ul>li li a:hover {color:#199394; font-weight: 600;}
.header_wrap .n_right { width:124px; height:35px; float:right; position: absolute; top: 18px; right: 20px;}
.n_right .bt_home {width:40px; height: 35px; position: absolute; top:0px; left: 0px; background-color: #222;}
.n_right .bt_home span i::before {display: block; position: absolute; top:6px; right: 9px;  color: #FFF;}
.n_right .bt_home:hover {background-color: #555;}
.n_right .bt_lang {width:40px; height: 35px; position: absolute; top:0x; left: 41px; background-color: #086c6d;}
.n_right .bt_lang a {display: block; position: absolute; top:6px; right: 9px;  color: #fff; font-weight: 400;}
.n_right .bt_lang:hover { background-color: #199394;}
.n_right .s_map {position: absolute; top: 0; right: 0; width: 40px; height: 100%; cursor: pointer;}
.n_right .s_map:hover .line1 {animation: line1 2s infinite;}
.n_right .s_map:hover .line2 {animation: line2 2s infinite;}
.n_right .s_map:hover .line3 {animation: line3 2s infinite;}
.n_right .s_map span {display: block;  height: 2px;  background-color: #fff;}
.n_right .s_map .line1 {position: absolute; top: 9px; right: 10px; width: 22px;}
.n_right .s_map .line2 {position: absolute; top: 17px; right: 10px; width: 13px;}
.n_right .s_map .line3 {position: absolute; top: 25px; right: 10px; width: 22px;}
@keyframes aniline1 {
    0% { width:22px; }
    50% {width:32px;  }
    100% { width:22px; }
}
@keyframes aniline2 {
    0% { width:22px; }
    80% {width:32px;  }
    100% { width:22px; }
}


@media screen and (max-width:1000px) {
    #wrap{
        position:static;
    }
    #header{
        overflow:visible;
    }

    .header_wrap .n_right{
        position:absolute;
        right:0;
        height:100%;
        width:223px;
        background-color:#FFF;
    }
    .header_wrap .n_right>ul>li{
        background-color:#FFF;
        text-align: left;
    }

    .header_wrap .n_right>ul>li>a{
        color:#000;
        line-height:68px;
    }

    .header_wrap .n_right>ul li a{
        padding: 0 20px;
    }

    .header_wrap .n_right>ul>li div{
        padding: 0;
    }
    .header_wrap .n_right>ul>li:hover div{
        display: block;
    }
}




#footer {width: 100%; background: #000; z-index: 999; display: block; color: #FFF; margin: 0 auto; text-align: center; font-family: 'Malgun Gothic';}
.footer-top {height: 70px; background: #191919; }
.footer-top ul li {float: left; width: 50%; text-align: center; }
.footer-top ul li a {line-height: 1.25em; margin: 27px 0 26px 0; width: 100%; color: #fff; display: inline-block;}

.footer-top li span {position: relative; display: inline-block; padding-left: 40px; font-family: 'Malgun Gothic'; padding-right: 30px; background: url(img/ftoplink_arr.png) no-repeat right center; color: #e8e8e8;}
.footer-top li:nth-child(1) a span::before {content: ""; position: absolute; left: 0; top: 0; width: 26px; height: 26px; background: url(img/ftoplink_ico01.png) no-repeat 0 center; top: -6px;}
.footer-top li:nth-child(2) a span::before {content: ""; position: absolute; left: 0; top: 0; width: 26px; height: 26px; backgr ound: url(img/ftoplink_ico02.png) no-repeat 0 center; top: -6px;}
.footer-top li span:hover {text-decoration: underline;}
.f-copyright {padding: 60px 0;}
.f-copyright .p-logo {margin-bottom: 30px; }
.f-copyright .p-info span {color: #b5b5b5; line-height:120%;}
.p-copyright {margin-top: 5px; color: #535353; line-height: 120%;}
