    .sub1 .sub_navi {
        position: relative;
        height: 450px;
        width: 100%;

    }
    .sub1 .sub_navi .im_tit {
       height: 450px;
   }
    .sub1 .sub_navi .st_menu {
       width: 100%;
       position: absolute;
       left: 0;
       bottom: 0;
       border-top: 1px solid #FFF;
       font-size: 0;

   }
    .sub1 .sub_navi .st_menu ul{
       width: 1200px;
       margin: 0 auto;
       text-align: center;
   }

   .sub1 .sub_navi .st_menu ul li{
      display: table;
       margin-left: auto;
       margin-right: auto;
      line-height: 55px;
      display: inline-block;
      text-align: center;
      font-size: 16px;

  }
    .sub1 .sub_navi .st_menu ul li::after{
        content:""; display: table; margin: 0 auto;
    }
     .sub_navi .st_menu ul li:hover{
     background: rgba(5,158,159, 0.7);

 }
   .sub_navi .st_menu ul li a{
      color: #FFF;
      padding: 0 45px;
 }
    .sub_navi .st_menu ul li a:hover{
    font-weight: bold;
    }

    .sub_navi .st_menu


    .sub1_conts {
        width: 1200px
    }
    .sub_conts h2 a{
        display: block;
        font-size: 36px;
        font-weight: 400;
        font-family: "Malgun Gothic";
        text-transform: uppercase;
        line-height: 1.2em;
        color: #111;
        letter-spacing: -0.03em;
    }
