@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);

html,body {width:100%;height:100%;}
body {overflow:auto; font-size:14px; font-family:'Oswald','Calibri','Malgun Gothic', sans-serif;-webkit-text-size-adjust:none}

#wrap {height: 80px; position :relative; z-index:100; }
#header {background-color: #FFF; outline:1px #F00 solid; overflow: hidden;}
.header_wrap {padding: 0 30px; height:80px; background-color: #000;}
.header_wrap .logo h1 {width:62px; height: 44px; margin-top: 18px; float:left;}
.header_wrap .m_menu {width: 1100px; height:80px;  margin:0 auto;}
.header_wrap .m_menu>ul>li {float: left; width: 190px;  padding: 0 15px; text-align: center; }
.header_wrap .m_menu>ul>li>a {white-space: nowrap; text-transform: uppercase; font-weight: bold; letter-spacing: 0.04em; color:#FFF; cursor: pointer; line-height: 80px;}
.header_wrap .m_menu ul>li>a:hover {color:#199394;}
.header_wrap .m_menu ul>li div {padding:30px 0;}
.header_wrap .m_menu ul>li li a {line-height: 35px; white-space: nowrap; letter-spacing: -0.03em; font-weight: 400; color: #555;}
.header_wrap .m_menu ul>li div {display: none;}
.header_wrap .m_menu ul>li li a:hover {color:#199394; font-weight: 600;}
.header_wrap .n_right { width:124px; height:35px; float:right; position: absolute; top: 18px; right: 20px;}
.n_right .bt_home {width:40px; height: 35px; position: absolute; top:0px; left: 0px; background-color: #222;}
.n_right .bt_home span i::before {display: block; position: absolute; top:6px; right: 9px;  color: #FFF;}
.n_right .bt_home:hover {background-color: #555;}
.n_right .bt_lang {width:40px; height: 35px; position: absolute; top:0x; left: 41px; background-color: #086c6d;}
.n_right .bt_lang a {display: block; position: absolute; top:6px; right: 9px;  color: #fff; font-weight: 400;}
.n_right .bt_lang:hover { background-color: #199394;}
.n_right .s_map {position: absolute; top: 0; right: 0; width: 40px; height: 100%; cursor: pointer;}
.n_right .s_map:hover .line1 {animation: line1 2s infinite;}
.n_right .s_map:hover .line2 {animation: line2 2s infinite;}
.n_right .s_map:hover .line3 {animation: line3 2s infinite;}
.n_right .s_map span {display: block;  height: 2px;  background-color: #fff;}
.n_right .s_map .line1 {position: absolute; top: 9px; right: 10px; width: 22px;}
.n_right .s_map .line2 {position: absolute; top: 17px; right: 10px; width: 13px;}
.n_right .s_map .line3 {position: absolute; top: 25px; right: 10px; width: 22px;}
@keyframes aniline1 {
    0% { width:22px; }
    50% {width:32px;  }
    100% { width:22px; }
}
@keyframes aniline2 {
    0% { width:22px; }
    80% {width:32px;  }
    100% { width:22px; }
}


@media screen and (max-width:1000px) {
    #wrap{
        position:static;
    }
    #header{
        overflow:visible;
    }

    .header_wrap .n_right{
        position:absolute;
        right:0;
        height:100%;
        width:223px;
        background-color:#FFF;
    }
    .header_wrap .n_right>ul>li{
        background-color:#FFF;
        text-align: left;
    }

    .header_wrap .n_right>ul>li>a{
        color:#000;
        line-height:68px;
    }

    .header_wrap .n_right>ul li a{
        padding: 0 20px;
    }

    .header_wrap .n_right>ul>li div{
        padding: 0;
    }
    .header_wrap .n_right>ul>li:hover div{
        display: block;
    }
}


/*#container*/
.m-visual-wrap {position:relative; z-index:-1;}
.m-visual-wrap .slogan img {position: absolute; left: 50%; top:50%; margin-left:-205px; margin-top:-35px;}

.m-about {overflow: hidden;}
.m-about li {width:33.3333%; float:left; overflow:hidden; transition:1s; position: relative;}
.m-about li img{ width:100%; vertical-align:top; transition:1s ease-out;}
.m-about li:hover img{transform:scale(1.5,1.5) rotate(15deg);}
.m-about li:after {content:"";position:absolute; left:0; top:0;right:0; bottom:0; background-color:rgba(0,131,132,0.5); opacity:0; transition:0.4s ease-out;}
.m-about li:hover:after {opacity:1;}
.m-about li div {margin:5px;}
.m-about li .txt {position:absolute; left:0; top:0; z-index: 10; color:#FFF; font-size:20px; top:50%; line-height:20px; margin-top:-10px; width:100%; text-align:center;}
.m-about li .txt .box {display:inline-block; padding:10px 20px; position:relative; line-height: 22px;
letter-spacing: 0.03em; text-transform: uppercase; font-weight: 600;color: #fff; font-size: 25px;}
.m-about li .txt .box::after {content: ""; width: 20px; height: 3px; background-color: #FFF; position: absolute; top: -22px; margin-left: -10px;}
.m-about li .txt .box:hover::after {width: 0; opacity:0; transition:0.4s ease-out;}
.m-about li .txt .box .line1 {position:absolute; height:4px; background-color:#FFF; width:0; top:0; left:0; transition:0.3s ease-out; transition-delay:0;}
.m-about li .txt .box .line2 {position:absolute; height:0; background-color:#FFF; width:4px; top:0; right:0; transition:0.3s ease-out; transition-delay:0.3s;}
.m-about li .txt .box .line3 {position:absolute; height:4px; background-color:#FFF; width:0; bottom:0; right:0; transition:0.3s ease-out; transition-delay:0.9s;}
.m-about li .txt .box .line4 {position:absolute; height:0; background-color:#FFF; width:4px; bottom:0; left:0; transition:0.3s ease-out; transition-delay:1.2s;}

.m-about li:hover .box .line1 {width:100%;}
.m-about li:hover .box .line2 {height:100%;}
.m-about li:hover .box .line3 {width:100%;}
.m-about li:hover .box .line4 {height:100%;}

@media screen and (max-width:480px) {
     .m-about li{
         float:none;
         width:auto;
     }
}

.m-global {height: 900px; background: #1d2227; background-image: url(img/global-bg.jpg); background-repeat: repeat-x; position: relative;}
.m-global h3 {text-transform: uppercase; text-align: center; letter-spacing: 0.05em;
font-size: 42px; font-weight: 600; color: #fff; line-height: 1; padding-top: 100px;}
.m-global .global-01, .global-02, .global-03, .global-04, .global-05, .global-06 {width: 1332px; height: 574px; top: 236px; left: 50%; margin-left: -666px; position: absolute;}
.global-02 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 676px; top: 196px; line-height: 140%;}
.global-02 p.txt strong {font-weight: 300; font-size: 17px; display: block;}
.global-02 .line1 {width: 1px; height: 27px;left: 613px; top: 190px; position:absolute; background: rgba(255,255,255,0.4);}
.global-02 .line2 {width: 50px; height: 1px; left: 614px; top: 216px; position: absolute; background: rgba(255,255,255,0.4);}
.global-03 p.txt {font-family: 'Calibri'; font-size: 15px; color: #ec7a00; text-transform: uppercase; text-align: left; position: absolute; left: 1050px; top: 235px; line-height: 140%;}
.global-03 p.txt strong {font-weight: 300; font-size: 17px; display: block;}
.global-03 .line1 {width: 1px; height: 97px; left: 871px; top: 160px; position: absolute; background-color: rgba(236, 122, 0, 0.4);}
.global-03 .line2 {width: 166px; height: 1px; left: 872px; top: 256px; position: absolute; background: rgba(236, 122, 0, 0.4);}
.global-04 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 408px; top: 116px; line-height: 140%;}
.global-04 .line1 {width: 1px; height: 36px; left: 518px; top: 138px; position:absolute; background: rgba(255,255,255,0.4);}
.global-04 .line2 {width: 60px; height: 1px; left: 519px; top: 173px;  position: absolute; background: rgba(255,255,255,0.4);}
.global-05 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 676px; top: 270px; line-height: 140%;}
.global-05 .line1 {width: 98px; height: 1px; left: 567px; top: 283px; position:absolute; background: rgba(255,255,255,0.4);}
.global-05 .line2 {width: 1px; height: 22px; left: 647px; top: 284px;  position: absolute; background: rgba(255,255,255,0.4);}
.global-05 .line3 {wwidth: 17px; height: 1px; left: 648px; top: 305px;  position: absolute; background: rgba(255,255,255,0.4);}
.global-06 p.txt {font-family: 'Calibri'; font-size: 15px; color: #fff; text-transform: uppercase; text-align: left; position: absolute; left: 372px; top: 389px; line-height: 140%;}
.global-06 .line1 {width: 47px; height: 1px; left: 516px; top: 400px; position:absolute; background: rgba(255,255,255,0.4);}
.global-06 .line2 {width: 1px; height: 37px; left: 563px; top: 364px;  position: absolute; background: rgba(255,255,255,0.4);}


.m-social ul li {float:left; width: 50%;}
.m-social ul li img{width:100%; vertical-align:top; transition:1s ease-out;}
.m-social ul li:hover img {transform:scale(1.1,1.1)}
.m-social ul li a {position: relative; display: block; overflow: hidden;}
.m-social .btxt {position: absolute; z-index: 7; line-height: 22px; letter-spacing: 0.03em; text-transform: uppercase; height: 22px; top: 50%; margin-top: -11px; left: 50%;
width: 440px; margin-left: -220px; font-weight: 600; color: #fff; font-size: 25px; text-align:center;}
.m-social .btxt::after {content: ""; width: 20px; height: 3px; background: #fff; top: -22px; margin-left: -10px; left: 50%; position: absolute; display: block; }
.m-social .btxt:hover::after {width: 0; transition:0.4s ease-out;}
.m-social .stxt {position: absolute; z-index: 7; font-family: "Malgun Gothic"; line-height: 20px; letter-spacing: 0; text-transform: uppercase; height: 20px; top: 60%; margin-top: -11px; left: 50%; width: 440px; margin-left: -220px; font-weight: 300; color: #fff; font-size: 20px; text-align:center;}
.m-social .line2::after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 3; display: block; background: rgba(0,131,132,0.5); opacity:0; transition:0.4s ease-out;}
.m-social .line2:hover::after {opacity:1; transition:0.4s ease-out;}

.m-add img {width: 100%; vertical-align: top;}


#footer {width: 100%; background: #000; z-index: 999; display: block; color: #FFF; margin: 0 auto; text-align: center; font-family: 'Malgun Gothic';}
.footer-top {height: 70px; background: #191919; }
.footer-top ul li {float: left; width: 50%; text-align: center; }
.footer-top ul li a {outline: 1px solid #f00; line-height: 1.25em; margin: 27px 0 26px 0; width: 100%; color: #fff; display: inline-block;}

.footer-top li span {position: relative; display: inline-block; padding-left: 40px; font-family: 'Malgun Gothic'; padding-right: 30px; background: url(img/ftoplink_arr.png) no-repeat right center; color: #e8e8e8;}
.footer-top li:nth-child(1) a span::before {content: ""; position: absolute; left: 0; top: 0; width: 26px; height: 26px; background: url(img/ftoplink_ico01.png) no-repeat 0 center; top: -6px;}
.footer-top li:nth-child(2) a span::before {content: ""; position: absolute; left: 0; top: 0; width: 26px; height: 26px; backgr ound: url(img/ftoplink_ico02.png) no-repeat 0 center; top: -6px;}
.footer-top li span:hover {text-decoration: underline;}



.f-copyright {padding: 60px 0;   background-repeat: }
.f-copyright .p_logo {margin-bottom: 30px;}
.f-copyright .p_info span {color: #b5b5b5; line-height:120%;}
.p-copyright {margin-top: 5px; color: #535353; line-height: 120%;}
